.external
{
    font-size: 40px;
    font-weight: bold;
    color: pink;
    background-color: black;
}
.div-section
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #b2f5ea;
}
.h1-div
{
    color: white;
}
.section-1
{
    height: 100%;
    background: url(quentin_pic1.png);
    background-repeat: none;
    background-position: bottom;
    background-size: cover;
    cursor: crosshair;
}
.butt
{
    background-color: rgb(178, 245, 234, 0.50);
}
.butt:hover 
{
    background: white;
    float: right;
}
.borders-1
{
    border-style: solid;
    border-width: 2px;
    border-color: bisque;
    border-top-right-radius: 50px;
    margin: 20px;
    padding: 20px;
}
.borders-2
{
    border:bisque solid 2px;
    float: right;
}
.borders-3
{
    border-top: purple dashed 4px;
    border-left: orange dotted 3px;
}
.invis
{
    display: none;
}
.invis1
{
    visibility: hidden;
}
.section-2
{
    background-color: #b2f5ea;
    height: 500px;
    width: 50%;
    min-width: 300px;
}
.section-2 p
{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-shadow: 20px 10px 5px darkblue;
}
.text-dat
{
    line-height: 30px;
    font-family: sans-serif;
}
.css-ul
{
    list-style: none;
}
input
{
    outline-color: red;
}
input:focus
{
    background-color: black;
    color: aliceblue;
}
.nested-div-outer .nested-div-inner p
{
    color: red;
}
.nested-div-outer .nested-div-inner p:active
{
    background: #b2f5ea;
}
.nested-div-outer .nested-div-inner .quentin-gey:hover
{
    color: gray;
}
.demo
{
    width: 600px;
    height: 150px;
    background: orange;
    margin: 100px auto;
}
.demo .demo-inner
{
    width: 200px;
    height: 100px;
    background: red;
    color: white;
    font-size: large;
    position: relative;
    top: 10px;
    left: 10px;
}
.cereal
{
    width: 600px;
    height: 150px;
    background: green;
    margin: 100px auto;
    position: relative;
}
.cereal::after
{
    content: 'after';
    width: 100px;
    height: 50px;
    background: greenyellow;
    position: absolute;
    left: -10px;
    top: -10px;
}
.cereal::before
{
    content: 'before';
    width: 100px;
    height: 50px;
    background: greenyellow;
    position: absolute;
    right: -10px;
    bottom: -10px;
}
